.ThisClassShouldNotBeAllowed {
  background: transparent;
}

.this_class-should_not-be_allowed {
  background: transparent;
}

.This-Class_should__not_______be_______---------------------allowed {
  background: transparent;
}
